In [2]:
import math
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np
import lxml
import re
from random import seed
from collections import Counter
from sklearn.linear_model import LinearRegression
from datetime import datetime
import matplotlib.pyplot as plt
import array
from sklearn.model_selection import train_test_split
import re

C:\Users\MoJo\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.25.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

# Get Link into DataFrame

In [4]:
# URL of the webpage
url = "http://www.alltime-athletics.com/w_100hok.htm"

# Send an HTTP GET request to the URL
response = requests.get(url)

# Parse the HTML content using Beautiful Soup
soup = BeautifulSoup(response.content, "html.parser")

# Use select to find all <pre> elements
pre_elements = soup.select("pre")

In [5]:
# Select the second <pre> element
if len(pre_elements) > 1:
    first_pre_element = pre_elements[0]

    # Get the text content of the second <pre> element
    first_pre_text = first_pre_element.get_text()

    # Split the text into rows
    rows = first_pre_text.strip().split('\n')

    # Split rows into columns
    data = [row.split() for row in rows]

    # Create a Pandas DataFrame
    df = pd.DataFrame(data)
    
    print(df)
else:
    print("No second <pre> element found.")

        0      1     2              3         4    5         6    7   \
0        1  12.12  +0.9  Oluwatobiloba    Amusan  NGR  23.04.97  1s1
1        2  12.20  +0.3         Kendra  Harrison  USA  18.09.92    1
2        3  12.21  +0.7       Yordanka   Donkova  BUL  28.09.61    1
3        4  12.24  +0.9       Yordanka   Donkova  BUL  28.09.61   1s
4        4  12.24  +0.7         Kendra  Harrison  USA  18.09.92    1
...    ...    ...   ...            ...       ...  ...       ...  ...
1941  1803  12.69  +1.1            Nia       Ali  USA  23.10.88    3
1942  1803  12.69  +0.8         Ackera    Nugent  JAM  29.04.02  1q3
1943  1803  12.69  -0.2  Oluwatobiloba    Amusan  NGR  23.04.97    8
1944  1803  12.69  +0.3          Tonea  Marshall  USA  17.12.98  3rA
1945  1803  12.69  +0.3          Megan    Tapper  JAM  18.03.94  1rA

              8           9           10    11    12
0         Eugene  24.07.2022        None  None  None
1         London  22.07.2016        None  None  None
2          Stara      Zagora  20.08.1988  None  None
3          Stara      Zagora  28.08.1988  None  None
4         Eugene  28.05.2016        None  None  None
...          ...         ...         ...   ...   ...
1941   Ad-Dawhah  05.05.2023        None  None  None
1942  Sacramento  27.05.2023        None  None  None
1943    Westwood  27.05.2023        None  None  None
1944      Luzern  20.07.2023        None  None  None
1945      Madrid  22.07.2023        None  None  None

[1946 rows x 13 columns]

In [6]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,12.12,+0.9,Oluwatobiloba,Amusan,NGR,23.04.97,1s1,Eugene,24.07.2022,None,None,None
1,2,12.20,+0.3,Kendra,Harrison,USA,18.09.92,1,London,22.07.2016,None,None,None
2,3,12.21,+0.7,Yordanka,Donkova,BUL,28.09.61,1,Stara,Zagora,20.08.1988,None,None
3,4,12.24,+0.9,Yordanka,Donkova,BUL,28.09.61,1s,Stara,Zagora,28.08.1988,None,None
4,4,12.24,+0.7,Kendra,Harrison,USA,18.09.92,1,Eugene,28.05.2016,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1941,1803,12.69,+1.1,Nia,Ali,USA,23.10.88,3,Ad-Dawhah,05.05.2023,None,None,None
1942,1803,12.69,+0.8,Ackera,Nugent,JAM,29.04.02,1q3,Sacramento,27.05.2023,None,None,None
1943,1803,12.69,-0.2,Oluwatobiloba,Amusan,NGR,23.04.97,8,Westwood,27.05.2023,None,None,None
1944,1803,12.69,+0.3,Tonea,Marshall,USA,17.12.98,3rA,Luzern,20.07.2023,None,None,None
1945,1803,12.69,+0.3,Megan,Tapper,JAM,18.03.94,1rA,Madrid,22.07.2023,None,None,None

In [7]:
df["Athlete"] = df[3].astype(str)+df[4].astype(str)

In [8]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,Athlete
0,1,12.12,+0.9,Oluwatobiloba,Amusan,NGR,23.04.97,1s1,Eugene,24.07.2022,None,None,None,OluwatobilobaAmusan
1,2,12.20,+0.3,Kendra,Harrison,USA,18.09.92,1,London,22.07.2016,None,None,None,KendraHarrison
2,3,12.21,+0.7,Yordanka,Donkova,BUL,28.09.61,1,Stara,Zagora,20.08.1988,None,None,YordankaDonkova
3,4,12.24,+0.9,Yordanka,Donkova,BUL,28.09.61,1s,Stara,Zagora,28.08.1988,None,None,YordankaDonkova
4,4,12.24,+0.7,Kendra,Harrison,USA,18.09.92,1,Eugene,28.05.2016,None,None,None,KendraHarrison
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1941,1803,12.69,+1.1,Nia,Ali,USA,23.10.88,3,Ad-Dawhah,05.05.2023,None,None,None,NiaAli
1942,1803,12.69,+0.8,Ackera,Nugent,JAM,29.04.02,1q3,Sacramento,27.05.2023,None,None,None,AckeraNugent
1943,1803,12.69,-0.2,Oluwatobiloba,Amusan,NGR,23.04.97,8,Westwood,27.05.2023,None,None,None,OluwatobilobaAmusan
1944,1803,12.69,+0.3,Tonea,Marshall,USA,17.12.98,3rA,Luzern,20.07.2023,None,None,None,ToneaMarshall
1945,1803,12.69,+0.3,Megan,Tapper,JAM,18.03.94,1rA,Madrid,22.07.2023,None,None,None,MeganTapper

In [9]:
WindReadings = []
for i in range(0,len(df)):
    WindReadings.append(df[2][i][2:])
WindReadings

['.9',
 '.3',
 '.7',
 '.9',
 '.7',
 '.4',
 '.5',
 '.7',
 '.2',
 '.2',
 '.2',
 '.9',
 '.1',
 '.8',
 '.9',
 '.1',
 '.1',
 '.4',
 '.3',
 '.2',
 '.6',
 '.3',
 '.2',
 '.6',
 '.6',
 '.8',
 '.7',
 '.3',
 '.4',
 '.3',
 '.5',
 '.9',
 '.2',
 '.3',
 '.2',
 '.4',
 '.8',
 '.9',
 '.9',
 '.1',
 '.2',
 '.9',
 '.4',
 '.2',
 '.9',
 '.5',
 '.9',
 '.7',
 '.1',
 '.3',
 '.4',
 '.6',
 '.0',
 '.4',
 '.7',
 '.5',
 '.2',
 '.0',
 '.3',
 '.1',
 '.8',
 '.4',
 '.4',
 '.0',
 '.7',
 '.2',
 '.3',
 '.8',
 '.1',
 '.9',
 '.5',
 '.5',
 '.8',
 '.7',
 '.3',
 '.7',
 '.0',
 '.2',
 '.1',
 '.6',
 '.6',
 '.4',
 '.2',
 '.0',
 '.5',
 '.2',
 '.2',
 '.6',
 '.0',
 '.0',
 '.1',
 '.5',
 '.1',
 '.3',
 '.4',
 '.9',
 '.4',
 '.2',
 '.1',
 '.0',
 '.3',
 '.4',
 '.4',
 '.9',
 '.9',
 '.5',
 '.8',
 '.0',
 '.3',
 '.2',
 '.0',
 '.1',
 '.0',
 '.1',
 '.7',
 '.4',
 '.3',
 '.1',
 '.1',
 '.0',
 '.4',
 '.9',
 '.7',
 '.3',
 '.6',
 '.2',
 '.5',
 '.2',
 '.5',
 '.1',
 '.4',
 '.1',
 '.0',
 '.4',
 '.5',
 '.9',
 '.0',
 '.5',
 '.3',
 '.5',
 '.8',
 '.4',
 '.0',
 '.7',
 '.6',
 '.5',
 '.6',
 '.0',
 '.2',
 '.9',
 '.2',
 '.0',
 '.8',
 '.5',
 '.5',
 '.1',
 '.1',
 '.0',
 '.0',
 '.6',
 '.5',
 '.4',
 '.3',
 '.0',
 '.4',
 '.3',
 '.5',
 '.7',
 '.8',
 '.4',
 '.7',
 '.3',
 '.5',
 '.7',
 '.6',
 '.9',
 '.3',
 '.5',
 '.8',
 '.8',
 '.5',
 '.2',
 '.8',
 '.7',
 '.5',
 '.1',
 '.4',
 '.9',
 '.0',
 '.3',
 '.8',
 '.4',
 '.2',
 '.0',
 '.3',
 '.3',
 '.8',
 '.5',
 '.1',
 '.0',
 '.4',
 '.4',
 '.6',
 '.9',
 '.3',
 '.2',
 '.2',
 '.5',
 '.3',
 '.2',
 '.1',
 '.4',
 '.0',
 '.7',
 '.5',
 '.7',
 '.3',
 '.8',
 '.1',
 '.1',
 '.2',
 '.7',
 '.2',
 '.2',
 '.9',
 '.1',
 '.6',
 '.0',
 '.3',
 '.8',
 '.9',
 '.4',
 '.9',
 '.4',
 '.1',
 '.0',
 '.4',
 '.9',
 '.2',
 '.5',
 '.3',
 '.4',
 '.5',
 '.6',
 '.6',
 '.5',
 '.0',
 '.2',
 '.9',
 '.4',
 '.7',
 '.3',
 '.4',
 '.0',
 '.7',
 '.2',
 '.2',
 '.0',
 '.9',
 '.0',
 '.2',
 '.3',
 '.2',
 '.6',
 '.3',
 '.8',
 '.0',
 '.1',
 '.5',
 '.1',
 '.6',
 '.5',
 '.9',
 '.0',
 '.8',
 '.1',
 '.6',
 '.5',
 '.1',
 '.5',
 '.0',
 '.7',
 '.6',
 '.8',
 '.1',
 '.9',
 '.1',
 '.0',
 '.8',
 '.7',
 '.1',
 '.1',
 '.9',
 '.3',
 '.9',
 '.3',
 '.8',
 '.8',
 '.3',
 '.8',
 '.4',
 '.9',
 '.0',
 '.7',
 '.3',
 '.2',
 '.0',
 '.9',
 '.9',
 '.3',
 '.8',
 '.9',
 '.8',
 '.0',
 '.9',
 '.6',
 '.1',
 '.8',
 '.1',
 '.7',
 '.8',
 '.9',
 '.7',
 '.6',
 '.8',
 '.2',
 '.9',
 '.0',
 '.5',
 '.2',
 '.2',
 '.3',
 '.7',
 '.3',
 '.1',
 '.5',
 '.9',
 '.1',
 '.4',
 '.2',
 '.4',
 '.4',
 '.5',
 '.1',
 '.0',
 '.5',
 '.3',
 '.4',
 '.0',
 '.5',
 '.1',
 '.0',
 '.3',
 '.0',
 '.7',
 '.5',
 '.6',
 '.1',
 '.4',
 '.0',
 '.3',
 '.1',
 '.9',
 '.2',
 '.9',
 '.5',
 '.6',
 '.7',
 '.2',
 '.1',
 '.6',
 '.3',
 '.4',
 '.2',
 '.0',
 '.4',
 '.4',
 '.4',
 '.1',
 '.8',
 '.1',
 '.4',
 '.4',
 '.5',
 '.4',
 '.0',
 '.1',
 '.1',
 '.5',
 '.4',
 '.0',
 '.2',
 '.2',
 '.0',
 '.1',
 '.3',
 '.4',
 '.6',
 '.8',
 '.9',
 '.2',
 '.0',
 '.9',
 '.0',
 '.6',
 '.5',
 '.4',
 '.9',
 '.2',
 '.7',
 '.2',
 '.4',
 '.0',
 '.3',
 '.4',
 '.9',
 '.2',
 '.9',
 '.1',
 '.1',
 '.3',
 '.6',
 '.1',
 '.6',
 '.3',
 '.3',
 '.4',
 '.1',
 '.0',
 '.2',
 '.2',
 '.9',
 '.0',
 '.5',
 '.0',
 '.9',
 '.7',
 '.2',
 '.5',
 '.6',
 '.2',
 '.4',
 '.0',
 '.2',
 '.2',
 '.0',
 '.4',
 '.6',
 '.3',
 '.6',
 '.8',
 '.2',
 '.2',
 '.2',
 '.7',
 '.1',
 '.2',
 '.8',
 '.3',
 '.2',
 '.6',
 '.5',
 '.2',
 '.5',
 '.7',
 '.1',
 '.5',
 '.5',
 '.1',
 '.4',
 '.0',
 '.8',
 '.8',
 '.3',
 '.5',
 '.0',
 '.6',
 '.5',
 '.1',
 '.4',
 '.4',
 '.4',
 '.8',
 '.4',
 '.4',
 '.4',
 '.9',
 '.7',
 '.8',
 '.2',
 '.0',
 '.0',
 '.7',
 '.1',
 '.0',
 '.8',
 '.3',
 '.8',
 '.7',
 '.1',
 '.7',
 '.8',
 '.1',
 '.2',
 '.0',
 '.5',
 '.3',
 '.3',
 '.2',
 '.5',
 '.6',
 '.9',
 '.2',
 '.4',
 '.4',
 '.4',
 '.0',
 '.2',
 '.9',
 '.0',
 '.1',
 '.4',
 '.0',
 '.2',
 '.4',
 '.2',
 '.9',
 '.4',
 '.7',
 '.1',
 '.4',
 '.0',
 '.1',
 '.5',
 '.4',
 '.4',
 '.6',
 '.6',
 '.6',
 '.6',
 '.8',
 '.9',
 '.3',
 '.1',
 '.1',
 '.4',
 '.2',
 '.0',
 '.6',
 '.0',
 '.3',
 '.8',
 '.6',
 '.6',
 '.6',
 '.7',
 '.7',
 '.1',
 '.7',
 '.7',
 '.2',
 '.3',
 '.3',
 '.3',
 '.7',
 '.6',
 '.9',
 '.3',
 '.2',
 '.3',
 '.6',
 '.3',
 '.4',
 '.2',
 '.4',
 '.2',
 '.5',
 '.0',
 '.9',
 '.2',
 '.0',
 '.5',
 '.4',
 '.0',
 '.7',
 '.3',
 '.4',
 '.2',
 '.2',
 '.0',
 '.5',
 '.3',
 '.3',
 '.5',
 '.8',
 '.0',
 '.3',
 '.4',
 '.4',
 '.0',
 '.8',
 '.7',
 '.0',
 '.5',
 '.9',
 '.2',
 '.6',
 '.2',
 '.8',
 '.2',
 '.3',
 '.3',
 '.5',
 '.3',
 '.7',
 '.7',
 '.3',
 '.7',
 '.7',
 '.9',
 '.0',
 '.6',
 '.2',
 '.8',
 '.1',
 '.3',
 '.3',
 '.5',
 '.4',
 '.7',
 '.0',
 '.4',
 '.9',
 '.2',
 '.8',
 '.8',
 '.0',
 '.0',
 '.2',
 '.0',
 '.6',
 '.6',
 '.5',
 '.4',
 '.5',
 '.9',
 '.7',
 '.2',
 '.4',
 '.2',
 '.4',
 '.1',
 '.9',
 '.3',
 '.9',
 '.0',
 '.1',
 '.2',
 '.3',
 '.0',
 '.1',
 '.8',
 '.2',
 '.8',
 '.1',
 '.9',
 '.2',
 '.3',
 '.2',
 '.4',
 '.9',
 '.6',
 '.1',
 '.3',
 '.3',
 '.2',
 '.2',
 '.3',
 '.6',
 '.1',
 '.6',
 '.6',
 '.7',
 '.8',
 '.8',
 '.8',
 '.2',
 '.2',
 '.8',
 '.8',
 '.8',
 '.8',
 '.8',
 '.7',
 '.0',
 '.4',
 '.9',
 '.0',
 '.4',
 '.0',
 '.2',
 '.9',
 '.5',
 '.5',
 '.5',
 '.2',
 '.3',
 '.0',
 '.6',
 '.0',
 '.0',
 '.0',
 '.7',
 '.0',
 '.6',
 '.7',
 '.0',
 '.0',
 '.6',
 '.4',
 '.3',
 '.7',
 '.7',
 '.0',
 '.5',
 '.1',
 '.1',
 '.0',
 '.3',
 '.2',
 '.9',
 '.4',
 '.2',
 '.2',
 '.2',
 '.2',
 '.0',
 '.2',
 '.4',
 '.5',
 '.5',
 '.7',
 '.3',
 '.3',
 '.2',
 '.1',
 '.6',
 '.4',
 '.1',
 '.2',
 '.4',
 '.5',
 '.6',
 '.7',
 '.1',
 '.8',
 '.4',
 '.8',
 '.2',
 '.4',
 '.8',
 '.7',
 '.9',
 '.7',
 '.0',
 '.2',
 '.3',
 '.4',
 '.9',
 '.6',
 '.3',
 '.2',
 '.7',
 '.7',
 '.8',
 '.7',
 '.0',
 '.0',
 '.2',
 '.2',
 '.1',
 '.4',
 '.5',
 '.5',
 '.5',
 '.6',
 '.1',
 '.1',
 '.8',
 '.2',
 '.0',
 '.8',
 '.4',
 '.0',
 '.6',
 '.3',
 '.1',
 '.6',
 '.2',
 '.3',
 '.0',
 '.0',
 '.2',
 '.1',
 '.3',
 '.3',
 '.3',
 '.0',
 '.3',
 '.5',
 '.8',
 '.1',
 '.3',
 '.8',
 '.7',
 '.0',
 '.3',
 '.1',
 '.8',
 '.2',
 '.6',
 '.2',
 '.1',
 '.6',
 '.4',
 '.5',
 '.3',
 '.2',
 '.9',
 '.9',
 '.9',
 '.4',
 '.2',
 '.0',
 '.2',
 '.2',
 '.5',
 '.6',
 '.2',
 '.2',
 '.6',
 '.5',
 '.2',
 '.5',
 '.2',
 '.3',
 '.4',
 '.9',
 '.6',
 '.2',
 '.4',
 '.7',
 '.1',
 '.4',
 '.0',
 '.2',
 '.5',
 '.0',
 '.9',
 '.2',
 '.9',
 '.2',
 '.0',
 '.7',
 '.7',
 '.7',
 '.1',
 '.1',
 '.4',
 '.4',
 '.8',
 '.0',
 '.4',
 '.7',
 '.0',
 '.4',
 '.6',
 '.3',
 '.8',
 '.8',
 '.1',
 '.5',
 '.9',
 '.1',
 '.4',
 '.2',
 '.7',
 '.0',
 '.1',
 '.0',
 '.2',
 '.7',
 '.9',
 '.6',
 '.7',
 '.1',
 '.6',
 '.8',
 '.3',
 '.0',
 '.7',
 '.8',
 '.6',
 '.4',
 '.0',
 '.0',
 '.1',
 '.4',
 '.3',
 '.4',
 '.8',
 '.2',
 '.3',
 '.9',
 '.6',
 '.2',
 '.1',
 '.2',
 '.2',
 '.3',
 '.8',
 '.5',
 '.0',
 '.9',
 '.1',
 '.5',
 '.7',
 '.4',
 '.0',
 '.3',
 '.0',
 '.4',
 '.9',
 '.3',
 '.7',
 '.1',
 '.1',
 '.6',
 '.6',
 '.3',
 '.2',
 '.4',
 '.3',
 '.4',
 '.4',
 '.4',
 '.1',
 '.5',
 '.5',
 '.4',
 '.4',
 '.5',
 '.7',
 '.4',
 '.1',
 '.1',
 '.1',
 '.1',
 '.1',
 '.2',
 '.0',
 '.7',
 '.3',
 '.8',
 '.7',
 '.5',
 '.3',
 '.0',
 '.9',
 '.6',
 '.1',
 '.1',
 '.2',
 '.1',
 '.2',
 '.2',
 '.8',
 '.0',
 '.0',
 '.8',
 '.2',
 '.3',
 '.9',
 '.8',
 '.1',
 '.1',
 '.2',
 '.2',
 '.6',
 '.6',
 '.2',
 '.6',
 '.0',
 '.9',
 '.2',
 '.2',
 '.5',
 '.4',
 '.7',
 '.7',
 ...]

In [10]:
df['WindReading'] = WindReadings

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,Athlete,WindReading
0,1,12.12,+0.9,Oluwatobiloba,Amusan,NGR,23.04.97,1s1,Eugene,24.07.2022,None,None,None,OluwatobilobaAmusan,.9
1,2,12.20,+0.3,Kendra,Harrison,USA,18.09.92,1,London,22.07.2016,None,None,None,KendraHarrison,.3
2,3,12.21,+0.7,Yordanka,Donkova,BUL,28.09.61,1,Stara,Zagora,20.08.1988,None,None,YordankaDonkova,.7
3,4,12.24,+0.9,Yordanka,Donkova,BUL,28.09.61,1s,Stara,Zagora,28.08.1988,None,None,YordankaDonkova,.9
4,4,12.24,+0.7,Kendra,Harrison,USA,18.09.92,1,Eugene,28.05.2016,None,None,None,KendraHarrison,.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1941,1803,12.69,+1.1,Nia,Ali,USA,23.10.88,3,Ad-Dawhah,05.05.2023,None,None,None,NiaAli,.1
1942,1803,12.69,+0.8,Ackera,Nugent,JAM,29.04.02,1q3,Sacramento,27.05.2023,None,None,None,AckeraNugent,.8
1943,1803,12.69,-0.2,Oluwatobiloba,Amusan,NGR,23.04.97,8,Westwood,27.05.2023,None,None,None,OluwatobilobaAmusan,.2
1944,1803,12.69,+0.3,Tonea,Marshall,USA,17.12.98,3rA,Luzern,20.07.2023,None,None,None,ToneaMarshall,.3
1945,1803,12.69,+0.3,Megan,Tapper,JAM,18.03.94,1rA,Madrid,22.07.2023,None,None,None,MeganTapper,.3

In [12]:
WorkingDataSet = df[[0, 1, 'Athlete','WindReading',5,6,8,9]]
WorkingDataSet

,0,1,Athlete,WindReading,5,6,8,9
0,1,12.12,OluwatobilobaAmusan,.9,NGR,23.04.97,Eugene,24.07.2022
1,2,12.20,KendraHarrison,.3,USA,18.09.92,London,22.07.2016
2,3,12.21,YordankaDonkova,.7,BUL,28.09.61,Stara,Zagora
3,4,12.24,YordankaDonkova,.9,BUL,28.09.61,Stara,Zagora
4,4,12.24,KendraHarrison,.7,USA,18.09.92,Eugene,28.05.2016
...,...,...,...,...,...,...,...,...
1941,1803,12.69,NiaAli,.1,USA,23.10.88,Ad-Dawhah,05.05.2023
1942,1803,12.69,AckeraNugent,.8,JAM,29.04.02,Sacramento,27.05.2023
1943,1803,12.69,OluwatobilobaAmusan,.2,NGR,23.04.97,Westwood,27.05.2023
1944,1803,12.69,ToneaMarshall,.3,USA,17.12.98,Luzern,20.07.2023
1945,1803,12.69,MeganTapper,.3,JAM,18.03.94,Madrid,22.07.2023

In [13]:
new_column_names = ['RANKINGS','TIMES','ATHLETE','WINDREADING','COUNTRY','BIRTHYEAR','LOCATION','DATEOFRUN']
WorkingDataSet.columns = new_column_names
WorkingDataSet

,RANKINGS,TIMES,ATHLETE,WINDREADING,COUNTRY,BIRTHYEAR,LOCATION,DATEOFRUN
0,1,12.12,OluwatobilobaAmusan,.9,NGR,23.04.97,Eugene,24.07.2022
1,2,12.20,KendraHarrison,.3,USA,18.09.92,London,22.07.2016
2,3,12.21,YordankaDonkova,.7,BUL,28.09.61,Stara,Zagora
3,4,12.24,YordankaDonkova,.9,BUL,28.09.61,Stara,Zagora
4,4,12.24,KendraHarrison,.7,USA,18.09.92,Eugene,28.05.2016
...,...,...,...,...,...,...,...,...
1941,1803,12.69,NiaAli,.1,USA,23.10.88,Ad-Dawhah,05.05.2023
1942,1803,12.69,AckeraNugent,.8,JAM,29.04.02,Sacramento,27.05.2023
1943,1803,12.69,OluwatobilobaAmusan,.2,NGR,23.04.97,Westwood,27.05.2023
1944,1803,12.69,ToneaMarshall,.3,USA,17.12.98,Luzern,20.07.2023
1945,1803,12.69,MeganTapper,.3,JAM,18.03.94,Madrid,22.07.2023

In [14]:
WorkingDataSet.to_csv('Womens100mHurdles.csv', index=False)